<section id="about">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="container">
        <div class="blog-post">
        <header>
            <h2>About Me</h2>
        </header>
        <br>
        <!--<a href="#" class="image featured"><img src="assets/images/foto.png" alt="Lyssa" style="width:100%;"></a>-->
        <br>
        <p>
            <h4>
                I am an MSc Student in Data Science at the RWTH Aachen University and I am a front-end developer at <a href="https://innoloft.com/public/en/">Innoloft</a>.
            </h4>
        </p>

        <br>
        <p>
            <h4>
                    I am one of the founders and main contributors of <a href="https://capivara.ai" target="_blank">Capivara.AI</a>  - An organization focused on developing NLP projects with the purpose of encouraging people to start working on the field.
            </h4>
        </p>
        <br>
        <p>
            <h4>
                I took my bachelor’s degree in Computer Science at the Western Paraná State University. During my last semester, I did an internship with IAESTE at <a href="https://www.kisters.de/">Kisters AG</a> in Aachen, Germany. I worked on the development of a data hub for raster data products from remote sensing, reanalysis, and other sources.
            </h4>
        </p>
        <br>
        <p>
            <h4>
                On my thisis I developed a Inteligent Tutoring System (ITS) for learning fractions to children called "<a href="http://inf.unioeste.br/~tcc/2017/TCC%20-%20Lyssa%20Scherer.pdf">Lara e as Frações</a>".
            </h4>
        </p>
    </div>
    </div>
</section>
