<section id="about">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="container">
        <div class="blog-post">
        <header>
            <h2>About Me</h2>
        </header>
        <br>
        <a href="#" class="image featured"><img src="assets/images/foto.png" alt="Lyssa" style="width:100%;"></a>
        <br>
        <p>
            <h4>
                I am a MSc Student in Data Science at the RWTH Aachen University</a>.
            </h4>
        </p>
       
        <br>
        <p>
            <h4>
                I took my bachelor’s degree in Computer Science at the Western Paraná State University.
            </h4>
        </p>
    </div>
    </div>
</section>
