<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About Me</h2>
        <!-- <p>
          I am one of the founders and main contributors of
          <a href="https://capivara.ai" target="_blank">Capivara.AI</a> - An organization focused on
          developing NLP projects with the purpose of encouraging people to start working on the
          field.
        </p>
        <br /> -->
        
        <p>I am a Data Scientist at <a href="https://innoloft.com/public/">Innoloft</a> with a master's degree in Data Science from <a href="https://www.rwth-aachen.de/">RWTH Aachen University</a>.</p>

        <p>I am a Data Team member responsible for making Innoloft a data-driven company. <a href="https://innoloft.com/public/">Innoloft</a> develops a platform building kit that allows our clients to create and run their own digital B2B platform – from networks to marketplaces. Our team develops different Machine Learning projects, most of them related to Natural Language Processing (NLP), to help our clients to get the best out of their platform. I recently led the development of a recommender system of companies and products based on semantic similarity of textual descriptions. Most of the tasks I work on involve Natural Language Processing (NLP) using deep learning models.</p>

        <p>I recently completed my master's degree in Data Science at <a href="https://www.rwth-aachen.de/">RWTH Aachen University</a> (Aachen, Germany) with a specialisation in Computational Social Science. My master thesis entitled "<a href="https://drive.google.com/file/d/1aS4cJ-OiDc8mxcZsHAAlqnBqXVDvjFmI/view?usp=sharing">Characterising Wikipedia editors during the COVID-19 pandemic</a>" was supervised by Prof. Dr Markus Strohmaier. In this work, I developed a framework to characterise and extract information from Wikipedia editors based on the content they wrote on the website (called revisions). I focus on analysing the editors who edited pages related to the COVID-19 pandemic; however, the framework can also be used to study other editor groups.</p>

        <p>I took my bachelor's degree in Computer Science at the Western Paraná State University. I did an internship with IAESTE at <a href="https://www.kisters.de/">Kisters AG</a> in Aachen, Germany, during my last semester. I worked on developing a data hub for raster data products from remote sensing, reanalysis, and other sources. I created an Intelligent Tutoring System (ITS) for learning fractions to children called "<a href="http://inf.unioeste.br/~tcc/2017/TCC%20-%20Lyssa%20Scherer.pdf">Lara e as Frações</a>" in my thesis.</p>
        
      </div>
    </div>
  </div>
</section>
