:root {
  --primary-color: #6d6d6d;
  --secondary-color: #000000; /*#cd8c95;*/
}

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid var(--primary-color);
  overflow-x: hidden;
}

section {
  padding-top: 3em;
}

p,
a {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.avatar {
  padding: 3em;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.panel-body {
  padding-top: -10px;
  text-align: left;
}

.social {
  padding-top: 12px;
  word-spacing: 25px;
}

.blog-post {
  padding-top: 15px;
}

.blog-title {
  padding-top: 2px;
}

.related-posts h4 {
  text-align: center;
}

.page-not-found {
  padding-top: 20%;
}

.disqus {
  padding-bottom: 15px;
}

.blogpost {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

.img-circle {
  border-radius: 1%;
  height: 300px;
  box-shadow: 3px 3px 10px 1px rgba(220, 220, 220, 1);
}

/* Footer
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}

.text-muted {
  color: #6b6b6b;
}

/* COVID */
.Covid__mainTitle {
  text-align: center;
}

.Covid__container {
  text-align: center;
  padding-top: 4em;
}

.Covid__map {
  min-height: 500px;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
